<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>242808525961-tuh3u3k2fc5qha7qci9h9o1vb03hak5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242808525961-tuh3u3k2fc5qha7qci9h9o1vb03hak5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAdCrsi9zCy6DtU5BRbpfU4qzthCmtlbno</string>
	<key>GCM_SENDER_ID</key>
	<string>242808525961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isystematic.chat-app</string>
	<key>PROJECT_ID</key>
	<string>chatsdk-9637d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatsdk-9637d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:242808525961:ios:031ae560a01a1014</string>
	<key>DATABASE_URL</key>
	<string>https://chatsdk-9637d.firebaseio.com</string>
</dict>
</plist>